<!--main-contacts-box-->
<div class="main-contacts-box cnt-section">
	<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
	<div class="inner-wrap">
		<div class="contacts-wrap">
			<div class="page-title title-decor">Контакты</div>
			<p>г. Москва, ул.Яузская, дом 8, стр.2, оф.104</p>
			<div class="cnt-wrap">
				<div class="elm-ico">
					<img src="./img/icons/phone.svg" alt="">
				</div>
				<div class="cnt-title"><a href="tel:84956401757">+7 (495) 640-17-57</a></div>
			</div>
			<div class="cnt-wrap">
				<div class="elm-ico">
					<img src="./img/icons/phone.svg" alt="">
				</div>
				<div class="cnt-title"><a href="tel:89262354151">+7 (926) 235-41-51</a></div>
			</div>
			<div class="cnt-wrap">
				<div class="cnt-title"><a href="mailto:info@novelhim.ru">info@novelhim.ru</a></div>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-second">Напишите нам</a>
			</div>
		</div>
	</div>
</div><!--/main-contacts-box-->